<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrototipoTeste</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="caixa">
        <div class="centercaixa">
            
            <h1>LOGIN</h1>
            
            <form method="post">
                <label for="username">Matricula</label>
                <input type="text" id="username" name="username">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password">
                <a href="/cadastro"><button type="button" id="criarConta">Não possui uma conta? Criar Conta</button></a>
                <div class="container">
                    <div class="center">
                        <label for="submit">Fazer login</label>
                        <input type="submit" placeholder="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
